<ng-container *ngIf="(poDetails$ | async)?.length; else noResult">
   <!--__________Table_______________-->
   <app-table-wrapper [config]="tableConfig" [records$]="poDetails$"
      [classes]="pagination?.pageSize > 10 ? 'scroll' : 'no-scroll'"
     (actionTaken)="mapTableAction($event)" 
     >
   </app-table-wrapper>

   <!-- Pagination -->
   <app-pagination [config]="pagination" (paginationChange)="paginateBillingCycleDetails($event)">
   </app-pagination>
</ng-container>

<ng-template #noResult>
   <app-no-result></app-no-result>
</ng-template>