
<ng-container *ngIf="users?.length; else noResult">

    <!-- (sortChange)="sort($event)" -->

    <!-- Table -->
    <app-table-wrapper
    [records$]="users$!" 
    [config]="tableConfig" 
    (actionTaken)="mapTableAction($event)" 
    [classes]="pagination.pageSize > 10 ? 'scroll' : 'no-scroll'"
    >
    </app-table-wrapper>


    <!-- Pagination -->
    <app-pagination [config]="pagination" (paginationChange)="firePaginateUsersAction($event)">
    </app-pagination>

</ng-container>


<ng-template #noResult>
    <app-no-result></app-no-result>
</ng-template>

