<ng-container *ngIf="(billingCycles$ | async)?.length; else noResult">
  <!--__________Table_______________-->
  <app-table-wrapper [config]="tableConfig" [records$]="billingCycles$"
    [classes]="pagination?.pageSize > 10 ? 'scroll' : 'no-scroll'" (actionTaken)="mapTableActions($event)">
  </app-table-wrapper>

  <!-- Pagination -->
  <app-pagination [config]="pagination" (paginationChange)="paginationBillingCycle($event)">
  </app-pagination>
</ng-container>

<ng-template #noResult>
  <app-no-result></app-no-result>
</ng-template>