.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 1rem;
   
  }

  .mat-radio-button{
    padding-right: 1.6875rem;
  }

  .mat-auto-complete {
    min-width: 4.6875rem;
    max-width: 9.375rem;
    width: 100%;
  }
  
  .mat-auto-complete-width {
    width: 100%;
  }

  .reports {
    line-height: 1.25rem;
  } 
