@import "_variables.scss";
@import "./components/buttons.component";
@import "./components/dialogs.component";
@import "./components/snackbars.component";
@import "./components/tables.component";
@import "./components/cards.component";
@import "./components/custom-scrollbar.component";
@import "./components/SSA-icons";

a {
  color: var(--primary);
  transition: all ease-in-out 0.2s;

  &:hover {
    text-decoration: underline;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: auto;
}

:focus {
  outline: 0 !important;
}

.min-100 {
  min-width: 100px !important;
}

.min-200 {
  min-width: 200px !important;
}

.inner-wrapper {
  min-height: calc(100vh - 120px);

  @media screen and (max-height: 660px) {
    min-height: calc(100vh - 200px) !important;
  }
}

h1,
h2 {
  font-family: var(--mainFont) !important;
}

.value {
  word-break: break-all;
}

.value-inline {
  word-break: keep-all;
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--primary);
  // margin-top: 0.2rem;
}

.ps__thumb-y {
  background-color: var(--primary) !important;
  border-radius: 6px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 8px !important;
  right: 2px;
  position: absolute;
}
.img-container {
  border: 1px solid #ccc;
  padding: 20px;
  height: 250px;
  img {
    max-width: 100%;
    max-height: 145px;
    margin: 10px auto;
  }
}
.text-red-700 {
  color: rgba(185, 28, 28, 1) !important;
}

body .mat-drawer-container{
  background-color:var(--accent);
}

.filterBox{
  &-search{
  .mat-form-field{
    width: 100%!important;
    margin-left:0!important;
    margin-top:0!important;
    .mat-form-field-infix{
      width: auto;
    }
    input::-webkit-textfield-decoration-container{
      width: 100%;
    }
    &-underline{
      display: none;
    }
    &-wrapper{
      padding-bottom: 0;
    }
  }
}
}