<app-inner-page-layout [title]="headInformation.title">

   <div class="bg-white w-full py-1 px-5 my-3 flex justify-between items-center">
      <div class="flex items-center"><mat-icon class="text-gray-400">filter_alt</mat-icon>
         <app-search-input maxlength="100" [withResult]="false"            
         class="flex-grow filterBox-search"
         (searchChange)="onSearchChange($event)"
         [search]="searchQuery"
         [isMobileScreen]="isMobile"
         [shouldSearchInputUpdate]="resetSearch"
         placeholder="Employee name"
         ></app-search-input>
         </div>
         <button (click)="resetFilter()" mat-button color="warn" aria-label="Clear Filter">
         Clear
         </button>
      </div>
      <div class="inner-wrapper bg-white w-full p-1 lg:p-5">
         <customerPortal-table-unassociated-subs></customerPortal-table-unassociated-subs>
      </div>

</app-inner-page-layout>